body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.note-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 16px;
    padding: 16px;
}

.note-header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-header1 .pin {
    font-size: 16px;
    cursor: pointer;
}

.note-content1 {
    margin: 16px 0;
}

.note-footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: transparent;
    border-radius: 8px;
}

.delete-btn .img{
    width: 20px;
    height: 20px;
}

.note-editing-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

.content-container {
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateY(-20px);
}

.note-editing-window.show {
    opacity: 1;
    visibility: visible;
}
